
@import "../sass/variables";
@import "../sass/typography";

.homepage{
  &__content{
    padding:2rem;
    span{
    text-align: center;
    }
    h2{
      font-size:30px;
      line-height:30px;
    }
    img {
      max-height:200px;
      border-radius:50%;
    }
  }
  &__wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top:2em;
  }

  &__about{
    display:block;
    padding:3rem;
    border-radius: 19px;
  }
  &__userlist{
    background-color: $secondary-color;
    padding:3rem;
    width:50%;
    max-width:700px;
  }
}