
@import "../sass/variables";
@import "../sass/typography";

.footer{
  padding:1rem;
  width:100%;
  background-color: $secondary-color;
  color: $red;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  span{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  img{
    border-radius: 50%;
    height:40px;
    margin-right:1rem;
  }
}