@import "./sass/variables.scss";
@import "./sass/typography.scss";

body{
  background-color:  $primary-color;
  display:block;
  margin: 0 auto;
}
.App{
  margin: 0 auto;
}

.loadingMsg{
  font-size:40px;
  color: $highligt-color;
  font-family: $headerfont;
}
.message{
  color: $red;
  font-weight:bold;
}